.pulse {
  animation-name: color;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: hsl(0, 91%, 51%);
  }
  50% {
    background-color: hsl(0, 93%, 40%);
  }
  100% {
    background-color: hsl(0, 91%, 51%);
  }
}
